In [6]:
import pandas as pd

from config.config import *

In [7]:
requests_df = pd.read_pickle(os.path.join(OBTAINED_DATA, 'requests2011.pkl'))

In [8]:
requests_df.head()

,request,group,types,genres,specificity,similar_isbn,similar_author,dissimilar_isbn,dissimilar_author
id,,,,,,,,,
74,Los Angeles Loves Librarything Message Board. ...,Los Angeles Loves Librarything,[subject],"[literature, prose]",broad,[],[],[],[]
399,Cakes. For all Cake related posts! Favorite ca...,Sweet Treats!,[subject],"[technology, home economics, cooking]",narrow,[],[],[],[]
530,"From a historical scholarly perspective, ""Why ...",Biblical History,[subject],[history],narrow,[],[],[],[]
812,Schumann Biography. Does anyone have a recomme...,"Music History, Performance, and Theory",[subject],[biography],narrow,[],[],[],[]
1116,Which LISP? It'll be time for me to shake thin...,Purely Programmers,[subject],"[science, mathematics, computer science, progr...",narrow,[],[],[],[]

In [9]:
requests_df.describe()

,request,group,types,genres,specificity,similar_isbn,similar_author,dissimilar_isbn,dissimilar_author
count,211,211,211,211,211,211,211,211,211
unique,209,122,13,85,2,55,11,8,3
top,Japanese Self-Instruction. I would love to lea...,History Fans,[subject],"[literature, prose]",narrow,[],[],[],[]
freq,2,7,134,34,177,156,201,204,209

In [12]:
requests_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 211 entries, 74 to 113543
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   request            211 non-null    object
 1   group              211 non-null    object
 2   types              211 non-null    object
 3   genres             211 non-null    object
 4   specificity        211 non-null    object
 5   similar_isbn       211 non-null    object
 6   similar_author     211 non-null    object
 7   dissimilar_isbn    211 non-null    object
 8   dissimilar_author  211 non-null    object
dtypes: object(9)
memory usage: 24.6+ KB

In [14]:
requests_df[requests_df.duplicated('request', keep=False)]

,request,group,types,genres,specificity,similar_isbn,similar_author,dissimilar_isbn,dissimilar_author
id,,,,,,,,,
75157,Japanese Self-Instruction. I would love to lea...,Asian Fiction & Non-Fiction,[subject],[education linguistics],narrow,[],[],[],[]
75158,Japanese Self-Instruction. I would love to lea...,Japanese Culture,[subject],[education linguistics],narrow,[],[],[],[]
82545,Books on Thomas Jefferson. I'm starting a Jeff...,American Revolution & Founding Fathers History,[subject],[history biography],narrow,"[0743508084, 0819157821, 0813910781, 081391365...",[],[],[]
82546,Books on Thomas Jefferson. I'm starting a Jeff...,History Fans,[subject],[history biography],narrow,"[0743508084, 0819157821, 0813910781, 081391365...",[],[],[]