In [14]:
import pandas as pd

from config.config import *

In [29]:
requests_df = pd.read_pickle(os.path.join(OBTAINED_DATA, 'requests2011.pkl'))
qrels_df = pd.read_pickle(os.path.join(OBTAINED_DATA, 'qrels2011.pkl'))

In [16]:
requests_df.head()

,request,group,types,genres,specificity,similar_isbn,similar_author,dissimilar_isbn,dissimilar_author
id,,,,,,,,,
74,Los Angeles Loves Librarything Message Board. ...,Los Angeles Loves Librarything,[subject],"[literature, prose]",broad,[],[],[],[]
399,Cakes. For all Cake related posts! Favorite ca...,Sweet Treats!,[subject],"[technology, home economics, cooking]",narrow,[],[],[],[]
530,"From a historical scholarly perspective, ""Why ...",Biblical History,[subject],[history],narrow,[],[],[],[]
812,Schumann Biography. Does anyone have a recomme...,"Music History, Performance, and Theory",[subject],[biography],narrow,[],[],[],[]
1116,Which LISP? It'll be time for me to shake thin...,Purely Programmers,[subject],"[science, mathematics, computer science, progr...",narrow,[],[],[],[]

In [17]:
requests_df.describe()

,request,group,types,genres,specificity,similar_isbn,similar_author,dissimilar_isbn,dissimilar_author
count,211,211,211,211,211,211,211,211,211
unique,209,122,13,85,2,55,11,8,3
top,Japanese Self-Instruction. I would love to lea...,History Fans,[subject],"[literature, prose]",narrow,[],[],[],[]
freq,2,7,134,34,177,156,201,204,209

In [18]:
requests_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 211 entries, 74 to 113543
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   request            211 non-null    object
 1   group              211 non-null    object
 2   types              211 non-null    object
 3   genres             211 non-null    object
 4   specificity        211 non-null    object
 5   similar_isbn       211 non-null    object
 6   similar_author     211 non-null    object
 7   dissimilar_isbn    211 non-null    object
 8   dissimilar_author  211 non-null    object
dtypes: object(9)
memory usage: 16.5+ KB

In [19]:
requests_df[requests_df.duplicated('request', keep=False)]

,request,group,types,genres,specificity,similar_isbn,similar_author,dissimilar_isbn,dissimilar_author
id,,,,,,,,,
75157,Japanese Self-Instruction. I would love to lea...,Asian Fiction & Non-Fiction,[subject],[education linguistics],narrow,[],[],[],[]
75158,Japanese Self-Instruction. I would love to lea...,Japanese Culture,[subject],[education linguistics],narrow,[],[],[],[]
82545,Books on Thomas Jefferson. I'm starting a Jeff...,American Revolution & Founding Fathers History,[subject],[history biography],narrow,"[0743508084, 0819157821, 0813910781, 081391365...",[],[],[]
82546,Books on Thomas Jefferson. I'm starting a Jeff...,History Fans,[subject],[history biography],narrow,"[0743508084, 0819157821, 0813910781, 081391365...",[],[],[]

In [26]:
qrels_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10179 entries, 0 to 10178
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   topic      10179 non-null  int64
 1   doc_id     10179 non-null  int64
 2   relevance  10179 non-null  int64
dtypes: int64(3)
memory usage: 238.7 KB

In [27]:
qrels_df.head()

   topic     doc_id  relevance
0     74  822942542          1
1     74  822959399          1
2    399  307236722          1
3    399  333511824          1
4    399  333511832          1

In [28]:
qrels_df.describe()

               topic        doc_id  relevance
count   10179.000000  1.017900e+04    10179.0
mean    50573.998330  6.811581e+08        1.0
std     35788.044034  4.964022e+08        0.0
min        74.000000  1.046233e+06        1.0
25%     19694.000000  3.407210e+08        1.0
50%     41563.000000  5.635583e+08        1.0
75%     84865.000000  8.161465e+08        1.0
max    113543.000000  1.934997e+09        1.0